{% extends "base.html" %}
{% load static %}
{% load bag_filters %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr style="margin-top: 100px;">
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-borderless align-middle">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col" class="w-25">Artwork</th>
                                    <th scope="col">Details</th>
                                    <th scope="col" class="text-center">Price</th>
                                    <th scope="col" class="text-center">Qty</th>
                                    <th scope="col" class="text-center">Subtotal</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in bag_items %}
                                    <tr class="align-middle">
                                        <td class="p-3 align-middle">
                                            <img class="img-fluid rounded" src="{{ item.artwork.image.url }}" alt="{{ item.artwork.title }}" style="max-height: 200px;">
                                        </td>
                                        <td class="py-3 align-middle">
                                            <p class="my-0"><strong>{{ item.artwork.title }}</strong></p>
                                            <p class="my-0 small text-muted">SKU: {{ item.artwork.sku|default:"N/A" }}</p>
                                        </td>
                                        <td class="py-3 text-center align-middle">
                                            <p class="my-0">£{{ item.artwork.price }}</p>
                                        </td>
                                        <td class="py-3 text-center align-middle">
                                            <form class="form update-form" method="POST" action="{% url 'update_bag' item.artwork.id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                                data-item_id="{{ item.artwork.id }}" id="decrement-qty_{{ item.artwork.id }}">
                                                                <span>
                                                                    <i class="fas fa-minus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                            data-item_id="{{ item.artwork.id }}"
                                                            id="id_qty_{{ item.artwork.id }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                                data-item_id="{{ item.artwork.id }}" id="increment-qty_{{ item.artwork.id }}">
                                                                <span>
                                                                    <i class="fas fa-plus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-link text-info"><small>Update</small></a>
                                            <a class="remove-item text-danger float-right" id="remove_{{ item.artwork.id }}"><small>Remove</small></a>
                                        </td>
                                        <td class="py-3 text-center align-middle">
                                            <p class="my-0">£{{ item.artwork.price|calc_subtotal:item.quantity|floatformat:2 }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-right"><strong>Bag Total:</strong></td>
                                    <td class="text-center">£{{ total|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-right"><strong>Delivery:</strong></td>
                                    <td class="text-center">£{{ delivery|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-right"><strong>Grand Total:</strong></td>
                                    <td class="text-center">£{{ grand_total|floatformat:2 }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-right mt-4 mb-5">
                        <a href="{% url 'artworks' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Browsing</span>
                        </a>
                        <button class="btn btn-black rounded-0 btn-lg" disabled>
                            <span class="text-uppercase">Checkout Coming Soon</span>
                        </button>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'artworks' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Browsing</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'artworks/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

   
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>
{% endblock %}
