<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gallery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gallery-link">
                <a href="{% url 'artworks' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'artworks' %}?sort=title&direction=desc" class="dropdown-item">By Title</a>
                <a href="{% url 'artworks' %}?sort=available&direction=desc" class="dropdown-item">By Availability</a>
                <a href="{% url 'artworks' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'artworks' %}" class="dropdown-item">All Artworks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fine-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fine Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fine-art-link">
                <a href="{% url 'artworks' %}?category=paintings" class="dropdown-item">Paintings</a>
                <a href="{% url 'artworks' %}?category=sculpture" class="dropdown-item">Sculptures</a>
                <a href="{% url 'artworks' %}?category=drawings" class="dropdown-item">Drawings</a>
                <a href="{% url 'artworks' %}?category=fine_art" class="dropdown-item">All Fine Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="digital-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Digital & Contemporary Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="digital-art-link">
                <a href="{% url 'artworks' %}?category=digital_art" class="dropdown-item">Digital Art</a>
                <a href="{% url 'artworks' %}?category=abstract_art" class="dropdown-item">Abstract Art</a>
                <a href="{% url 'artworks' %}?category=digital_art,abstract_art" class="dropdown-item">All Contemporary Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="commissioned-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Custom & Commissioned Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="commissioned-art-link">
                <a href="{% url 'artworks' %}?category=custom_commissioned" class="dropdown-item">View Commissioned Art</a>
                <a href="{% url 'artworks' %}" class="dropdown-item">All Custom Art</a>
            </div>
        </li>
    </ul>
</div>
