<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gallery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gallery-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item">By Artist</a>
                <a href="#" class="dropdown-item">By Category</a>
                <a href="#" class="dropdown-item">All Artworks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fine-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fine Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fine-art-link">
                <a href="#" class="dropdown-item">Paintings</a>
                <a href="#" class="dropdown-item">Sculptures</a>
                <a href="#" class="dropdown-item">Mixed Media</a>
                <a href="#" class="dropdown-item">All Fine Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contemporary-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contemporary & Digital Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contemporary-art-link">
                <a href="#" class="dropdown-item">Digital Art</a>
                <a href="#" class="dropdown-item">Abstract Art</a>
                <a href="#" class="dropdown-item">NFTs</a>
                <a href="#" class="dropdown-item">All Contemporary Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="commissioned-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Custom & Commissioned Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="commissioned-art-link">
                <a href="#" class="dropdown-item">Request a Commission</a>
                <a href="#" class="dropdown-item">View Progress</a>
                <a href="#" class="dropdown-item">Featured Commissions</a>
                <a href="#" class="dropdown-item">All Custom Art</a>
            </div>
        </li>
    </ul>
</div>
